:root {
  --background-color-main: #ffffff;
  --active-color: #2196f3;
  --font-color: #212121;
  --font-color-logo: #2196f3;
  --font-color-logo-header: #000000;
  --font-color-logo-footer: #ffffff;
  --font-color-dark-background: #ffffff;
  --font-color-footer: #ffffff;
  --font-color-footer-with-alpha: #ffffff99;
  --font-color-contact-header: #757575;
  --font-color-paragraph: #757575;
  --background-color-section: #2f303a;
  --background-color-border: #eeeeee;
  --background-color-team: #f5f4fa;
  --background-color-logo: #f5f4fa;
  --background-color-btn-unactive: #f5f4fa;
  --border-color: #afb1b8;
  --icon-color: #afb1b8;
}

* {
  outline: none;
  /* usuniecie obramowania po focusie */
}

h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
  padding: 0;
}
/* SEKCJA POZYCJONOWANIA STRONY */
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

ul {
  /* usuniecie punktorow */
  list-style: none;
}
body {
  font-family: 'Roboto', sans-serif;
  color: var(--font-color);
}
.header {
  padding: 24px 0 25px;
  border-bottom: 1px solid #ececec;
}

.head-section {
  /* glowny podzial */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  text-decoration: none;
  /* usuneicie podkreslenia */
  font-weight: 700;
  color: var(--font-color-logo);
  line-height: 30px;
}

.logo-header-color {
  color: var(--font-color-logo-header);
}

.logo-footer-color {
  color: var(--font-color-logo-footer);
}

.navigation {
  display: flex;
  gap: 46px;
  margin-left: 93px;
  margin-right: 345px;
  /* ulozenie linkow nawigacyjnych */
  /* padding-right: 345px; - zamienione przez justify-item */
}

.navigation-link {
  text-decoration: none;
  color: var(--font-color);
  font-weight: 500;
  font-size: 15px;
}
.navigation-link:hover,
.navigation-link:focus {
  color: var(--active-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.is-active {
  position: relative;
  display: block;
  color: var(--active-color);
}

.is-active::after {
  content: '';
  position: absolute;
  height: 4px;
  top: 45px;
  left: 0;
  right: 0;
  background-color: var(--active-color);
  border-radius: 2px;
}

.contact-header {
  display: flex;
  gap: 30px;
  align-items: center;
  /* wysrodkowanie w pionie */
  fill: var(--font-color-contact-header);
}

.contact-header-item {
  text-decoration: none;
  color: var(--font-color-contact-header);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  /* do wysrodkowania ikon w stosunku do tekstu linku */
  display: flex;

  align-items: center;
  gap: 10px;
}

.contact-header-item:hover,
.contact-header-item:focus {
  color: var(--active-color);
  fill: currentColor;
  transition-property: color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  /* zmienne koloru dla ikon */
}

/* FOOTER */
.footer {
  background-color: var(--background-color-section);
  padding: 60px 0;
}

.footer-part {
  /* rozlozenie sekcji z logiem i adresem oraz tekstem i ikonami */
  display: flex;
  gap: 70px;
  flex-wrap: wrap;
}
/* 1 sekcja - adres i logo */
.logo-footer {
  display: block;
  /* aby zachowac polozenie */
  margin-bottom: 21px;
  width: fit-content;
}

.contact-footer {
  /* ulozenie czesci z danymi kontaktowymi */
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  width: fit-content;
  gap: 9px;
  font-size: 14px;
}

.contact-footer-address {
  text-decoration: none;
  font-style: normal;
  color: var(--font-color-footer);
}

.contact-footer-link {
  color: var(--font-color-footer-with-alpha);
  text-decoration: none;
  font-style: normal;
}

.contact-footer-link:hover,
.contact-footer-link:focus {
  color: var(--active-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-follow-us h3,
.footer-subscribe-newsletter h3 {
  /* dodana 3 sekcja w stopce, jako nagłówek */
  padding-top: 12px;
  /* bo top 60 ma już klasa footer */
  padding-bottom: 20px;
  /* odstep pod naglowkiem */
  text-transform: uppercase;
  /* napis tylko wielkimi literami */
  color: var(--font-color-footer);
  font-weight: 700;
  font-size: 14px;
}
/* 2 sekcja - social media dołącz do nas */
.footer-follow-us {
  display: flex;
  flex-direction: column;
  width: 206px;
  /* szerokosc sekcji i ulozenie ikon w tej proporcji */
}

.footer-follow-us-icons {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.footer-follow-us-icons-item {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--font-color-dark-background);
  /* wycentrowanie ikon dla tla /pdswietlenia*/
  width: 44px;
  height: 44px;
  border-radius: 50%;
  /* koło */
  background: rgba(255, 255, 255, 0.1);
  cursor: pointer;
  caret-color: #c0e;
}
.footer-follow-us-icons-item:hover,
.footer-follow-us-icons-item:focus {
  background-color: var(--active-color);
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* 3 sekcja stopki - zapisz się do newslettera */
.footer-subscribe-newsletter {
  padding-left: 8px;
}

.form-subscribe-newsletter {
  /* podzial sekcji - 2 czesci */
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.form-subscribe-newsletter input {
  /* szerokosc pola do wpisywania */
  width: 358px;
  padding: 14px 16px;
  /* odstepy wewnatrz pola */
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: var(--background-color-section);
  caret-color: #fff;
  /* kolor kursora w inpucie */
  color: #fff;
  /* kolor czcionki - domyslnie czarny */
  line-height: 20px;
}

.btn-subscribe-newsletter {
  padding: 9px 3px 9px 41px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: #fff;
  line-height: 30px;
  letter-spacing: 0.06em;
  /* button domyslnie ma czcionke domyslna dla przegladarki, wymaga zawsze nadania mimo ze jest w body */
  cursor: pointer;
  background: var(--active-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-radius: 4px;
  border: 1px solid var(--active-color);
  fill: #fff;
  /* wysrodkowanie tekstu z ikona */
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-subscribe-newsletter svg {
  margin: 0px 24px;
}

/* HEADER I FOOTER ZAKONCZONE */
/* STRONA INDEX */
/* SEKCJA HERO */
.hero {
  background-color: var(--background-color-section);
}

.hero-image {
  width: 100%;
  margin: 0 auto; /*wyśrodkowanie*/
  max-width: 1600px; /*maksymalna szerokosc obrazu po oddaleniu*/
  background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(10, 10, 10, 0.73)),
    url(../images/background-hero.jpg);
  background-repeat: no-repeat;
  background-position: center; /*centorwanie obrazu przy przybliżaniu*/
  /* dla obrazu */
  /*gradient*/
  padding: 200px 0;
}

.hero h1 {
  line-height: 1.3636;
}

.title-side {
  text-align: center;
  max-width: 696px;
  /* szrokosc tekstu - max, czyli moze byc mniejszy */
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 0.06em;
  color: var(--font-color-dark-background);
  text-transform: uppercase;
  padding-bottom: 30px;
  margin: 0 auto;
  /* wysrodkowanie tekstu */
}

.btn-order {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 9px 40px;
  letter-spacing: 0.06em;
  line-height: 30px;
  border-radius: 4px;
  border: 1px solid var(--active-color);
  font-family: 'Roboto', sans-serif;
  /* button domyslnie ma czcionke domyslna dla przegladarki, wymaga zawsze nadania mimo ze jest w body */
  cursor: pointer;
  font-weight: 700;
  color: var(--font-color-dark-background);
  /* button ma domyslne color: #000000 */
  background-color: var(--active-color);
}
/* OKNO MODALNE */

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(0);
  /* wysrodkowanie do ekranu, bez transform lewy gorny rog bedzie na srodku strony */
  width: 528px;
  min-height: 581px;
  background-color: var(--background-color-main);
  /* stylowanie okna */
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  opacity: 1;
  /* musi byc aby byla animacja otwierania */
  transition-duration: 600ms;
  transition-property: transform opacity background-color;
}
.is-hidden {
  pointer-events: none;
  /* nie klikalny (pomimo, że jest niewidoczny) */
  visibility: hidden;
}
/* aby zadzialalo przejscie przy włączeniu i wylaczeniu */
.is-hidden .modal {
  position: absolute;
  /* EFEKT ZNIKANIA poprzez scale, translate, obrot i scięcie, aby "wychodzilo" od srodka */
  transform: translate(-50%, -50%) scale(0) rotate(45deg) skew(-45deg, -45deg);
  background-color: var(--background-color-section);
  opacity: 0;
  transition-property: transform opacity background-color;
  transition-duration: 600ms;
}

.backdrop {
  /* backdrop - przyciemnianie tyłu strony po otwarciu okna modalnego*/
  display: flex;
  justify-content: center;
  align-items: center;
  /* wysrodkowanie */
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.btn-close {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0;
  right: 0;
  margin: 8px;
  background-color: var(--background-color-main);
  border: 1px solid rgba(14, 7, 7, 0.1);
  /* krawedzie "przycisku" */
  width: 30px;
  height: 30px;
  /* tlo ikony, koło */
  border-radius: 50%;
  cursor: pointer;
}
.btn-close:hover,
.btn-close:focus {
  background-color: var(--active-color);
  fill: var(--font-color-dark-background);
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* SEKCJA TEKSTOWA */
.our-strengths {
  padding-bottom: 94px;
  /* dla oddzielenia sekcji wewnetrznych, nie mozna osobno dac sekcji bo najda 2 paddingi */
}

.our-strengths-list {
  display: flex;
  gap: 30px;
}

.our-strenghts-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  /* wysrodkowanie loga */
  height: 120px;
  background-color: var(--background-color-logo);
  border-radius: 4px;
}

.our-strengths-list-item h3 {
  margin-top: 30px;
  font-weight: 700;
  line-height: 1.1;
  font-size: 14px;
  text-transform: uppercase;
  /* same wielkie litery */
  padding-bottom: 10px;
}

.our-strengths-list-item p {
  font-size: 14px;
  line-height: 1.7;
  color: var(--font-color-paragraph);
}

/* SEKCJA CZYM SIE ZAJMUJEMY */
.what-do-header,
.team-header {
  margin-bottom: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
}

.what-do-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  /* ulozenie mozliwie do srodka */
}

.what-do-list-item {
  position: relative;
  overflow: hidden;
}
.what-do-list-item img {
  display: block;
  max-width: 100%;
  height: auto;
}

.what-do-photo-text {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  /* do dolu i rozciagniete po szerokosci obrazu */
  display: flex;
  justify-content: center;
  align-items: center;
  /* wysrodkowanie tekstu */
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  /* text-align:center; */
  height: 70px;
  color: var(--font-color-dark-background);
  background-color: #2f303acc;
  cursor: default;
}

.what-do-list-item > 

/* SEKCJA TEAM */
.team {
  background-color: var(--background-color-team);
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  /* ulozenie mozliwie do srodka */
  padding-top: 50px;
}

.team-list-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  /* efekt cienia */
  background-color: var(--background-color-main);
}

.team-name,
.team-profession {
  text-align: center;
  /* domyslnie 16px font-size */
}

.team-name {
  padding-top: 30px;
  font-weight: 500;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
}

.team-profession {
  padding-top: 10px;
  padding-bottom: 16px;
  color: var(--font-color-paragraph);
}

.team-social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  /* ulozenie ikon z rownymi odstepami */
  padding: 0 32px 30px 32px;
}

.team-social-media-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: transparent;
  /* transparent - przezroczysty */
  fill: var(--icon-color);
  /* kolor ikony */
  cursor: pointer;
}

.team-social-media-item:hover,
.team-social-media-item:focus {
  fill: var(--font-color-dark-background);
  /* kolor ikony */
  background-color: var(--active-color);
  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*SEKCJA NASI KLIENCI*/

.our-clients-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  margin-bottom: 50px;
}

.our-clients {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.our-clients-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  /* wymiary obramowania */
  border: 1px solid var(--border-color);
  border-radius: 4px;
  fill: var(--icon-color);
  cursor: pointer;
}

.our-clients-item:hover,
.our-clients-item:focus {
  border: 1px solid var(--active-color);
  border-radius: 4px;
  fill: var(--active-color);
  transition-property: border, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* @@@@@@@@@@STRONA PORTFOLIO@@@@@@@@@@@@ */
/* przyciski do filtrowania */
.filter-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
  /* ulozenie przyciskow */
  padding-bottom: 50px;
}

.btn-filter {
  /* domyslnie 16px font-size */
  font-family: 'Roboto', sans-serif;
  background-color: var(--background-color-btn-unactive);
  color: var(--font-color);
  border: 1px solid var(--background-color-btn-unactive);
  border-radius: 4px;
  padding: 5px 21px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.03em;
  /* bo domyslnie ma color:#ffffff */
}

/* cien po najechaniu/focusie */
.btn-filter:hover,
.btn-filter:focus {
  background-color: var(--active-color);
  color: var(--font-color-dark-background);
  border: 1px solid var(--active-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  transition-property: color, background-color, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/* galeria */

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  /* ulozenie kart */
  flex-basis: calc((100% - 20px) / 3);
}

.gallery-list-item img {
  display: block;
  /* pozbycie sie odstepu miedzy obrazem a tekstem ponizej */
}

.gallery-list-item {
  cursor: pointer;
  /* karta z galerii */
}

.gallery-list-item:hover,
.gallery-list-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-list-item-description {
  /* pole pod zdjeciem w karcie */
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

.gallery-item-name {
  /* tytul karty */
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.06em;
  line-height: 36px;
}

.category {
  /* opis dodatkowy w karcie */
  /* domyslnie 16px font-size */
  color: var(--font-color-paragraph);
  letter-spacing: 0.03em;
  line-height: 30px;
}

.overlay {
  /* div z obrazem i trescia po najechaniu na karte */
  position: relative;
  overflow: hidden;
  /* schowanie zawartosci, ktora wychodzi poza obszar obrazu przy rozwijaniu */
}

.gallery-label {
  /* wyjezdzajacy tekst */
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  /* granice obszaru - obejmuje caly relatywny obiekt - tu-img */
  padding: 49px 45px 49px 24px;
  /* odstepy */
  background-color: #2196f3e5;
  color: var(--font-color-dark-background);
  font-size: 18px;
  line-height: 1.56;
  /* animacja */
  transform: translateY(100%);
  transition: transform 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-list-item:hover .gallery-label,
.gallery-list-item:focus .gallery-label {
  transform: translateY(0);
}

/* FORMULARZ W OKNIE MODALNYM */
.form-order-service {
  padding: 40px;
}

/* nagłówek */
.form-order-service h2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  padding-bottom: 12px;
}

.label-order {
  position: relative;
  /* position relative, aby ikony znajdowaly sie w danym labelu */
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  /* ulozenie elementów tj span nad inputem */
}

.label-order span {
  /* aby span byl nad inputem */
  font-size: 12px;
  color: var(--font-color-paragraph);
  margin-top: 12px;
  margin-bottom: 4px;
}

.label-order input {
  padding-left: 42px;
  /* rozpoczęcie wpisywania miejsce dla ikony */
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 12px;
}

.label-order textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  /* 12 wysokosc 16 szerokosc */
  padding: 12px 16px;
  height: 7.5rem;
  outline: none;
  resize: none;
  /* odstep dla oswiadczenia */
  margin-bottom: 10px;
}

.label-order textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.label-order textarea:hover,
.label-order textarea:focus {
  border-color: var(--active-color);
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.label-order svg {
  position: absolute;
  left: 0;
  bottom: 0;
  /* lewy dolny rog */
  margin-bottom: 11px;
  /* wymiar svg 18, 40/2 - 18/2 */
  margin-left: 15px;
}

/* +svg musial zostac dodany, aby zadzialala zmiana koloru dla ikony */
.label-order input:hover,
.label-order input:focus,
.label-order input:hover + svg,
.label-order input:focus + svg {
  border-color: var(--active-color);
  fill: var(--active-color);
  transition-property: border-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.label-check {
  margin-top: 20px;
  font-size: 14px;
  /* wyswietlanie w jednej linii diva i spana, wysrodkowanie */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.label-check span {
  letter-spacing: 0.03em;
  line-height: 24px;
}

.label-check a {
  /* zmiana koloru dla linków */
  color: var(--active-color);
}

.label-check input {
  /* ukrycie typowego checkboxa */
  position: absolute;
  opacity: 0;
  cursor: none;
  height: 0;
  width: 0;
}

.label-check div {
  /* wymiary ramki dla nowego checkboxa */
  width: 16px;
  height: 15px;
  border: 1px solid var(--font-color);
  border-radius: 3px;
}

.hidden-checkbox ~ .custom-checkbox > svg {
  opacity: 1;
}

.hidden-checkbox ~ .custom-checkbox {
  transition-property: border-color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hidden-checkbox:checked ~ .custom-checkbox {
  background-color: var(--active-color);
  border-color: var(--active-color);
  transition-property: border-color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-order-send {
  display: block;
  margin: 30px auto 0 auto;
  /* wyśrodkowanie przycisku */
  padding: 10px 76px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: #fff;
  line-height: 30px;
  letter-spacing: 0.06em;
  /* button domyslnie ma czcionke domyslna dla przegladarki, wymaga zawsze nadania mimo ze jest w body */
  cursor: pointer;
  background: var(--active-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-radius: 4px;
  border: 1px solid var(--active-color);
}
/* KONIEC PORTFOLIO */
